<section class="narrow page-info">
    @if (Model.HeaderVisible)
    {
        <div class="title-row">
            <h3 class="title-entry">@Model.Title</h3> <a href="@Model.LinkedPage" class="btn btn-primary btn-xs">Find More &nbsp; <i class="fa fa-angle-right"></i></a>
        </div>
    }
    <div class="row">
        @foreach(var card in Model.Cards)
        {
            @Display(card);
        }
    </div>
</section>
