<article class="card">
    <a href="@Model.LinkedPage" class="featured-image" style="background-image: url('@Model.ImageUrl')">
        <div class="featured-img-inner"></div>
    </a>
    <div class="card-details">
        <h4 class="card-title"><a href="destination-parent.html">@Model.Name</a></h4>
        <div class="meta-details clearfix">
            <ul class="hierarchy">
                <li class="symbol"><i class="fa fa-map-marker"></i></li>
                <li><a href="destination-parent.html">@Model.Location</a></li>
            </ul>
        </div>
    </div>
</article>